@import '../../Sass/Styles.scss';


.HomeHero{
    display: flex;
    background: $peach url('../../assets/home/desktop/bg-pattern-hero-home.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
    min-height: 70vh;
    margin-top: 1%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;

    .HeroImage{
        img {
            position: absolute;
            right: 0;
            
        }
    }

    .HeroText {
        width: 50%;
        margin-left: 10%;
        margin-top: 7.5%;
        text-align: left;
        color: $white;

        h1 {
            width: 80%;
            line-height: normal;
        }

        p {
            width: 80%;
            font-size: 20px;
            margin-bottom: 5%;
        }
    }
}

.ProductTiles{
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-auto-rows: 50vh;
    margin-top: 15vh;

    .ProductTile{
        border-radius: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
       


        h2 {
            color: $white;
            text-transform: uppercase;
            text-align: center;
            width: 100%;
            margin: 0;
        }

        a {
            color: $white;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 2px;
            text-decoration: none;

        }

        span {
            color: $peach;
            font-weight: 600;
        }
    }

    #WebDesignTile {
        background: $dark-grey url(../../assets/home/desktop/image-web-design-large.jpg);
        grid-row-start: 1;
        grid-row-end: 3;
        background-size: cover;
        background-blend-mode: overlay;
        margin-top: 2%;
        margin-right: 3%;
     
    }

    #GraphicDesignTile {
        background: $dark-grey url(../../assets/home/desktop/image-graphic-design.jpg);
        grid-row-start: 1;
        background-size: cover;
        background-blend-mode: overlay;
        margin-top: 2%;
    }

    #AppDesignTile {
        background: $dark-grey url(../../assets/home/desktop/image-app-design.jpg);
        grid-row-start: 2;
        background-size: cover;
        background-blend-mode: overlay;
        margin-top: 2%;
    }
}

.CardSection {
    display: flex;
    margin-top: 15vh;
    margin-bottom: 5vh;

    .Card {
        img {  
            background: url(../../assets/home/desktop/bg-pattern-hero-home.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        h3 {
            text-transform: uppercase;
        }

        p {
            width: 70%;
            margin-left: 15%;
        }
    }
}



// Tablet 

@media (min-width: 768px) and (max-width: 1024px) {
    .HomeHero{
        display: flex;
        flex-direction: column;
        background: $peach url('../../assets/home/desktop/bg-pattern-hero-home.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        height: 90vh;
        width: 80%;
        margin-left: 10%;

        .HeroImage{
            img {
                position: relative;
                
            }
        }
    
        .HeroText {
            width: 90%;
            margin-left: 5%;
            margin-top: 0%;
            text-align: center;
            color: $white;
    
            h1 {
                width: 100%;
            }
    
            p {
                width: 100%;
                font-size: 20px;
                margin-bottom: 5%;
            }
        }

    }


    .ProductTiles{
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 2%;
        

        .ProductTile{
            width: 80%;
            margin-left: 10%;
            padding: 10px;
        }
    }

    .CardSection {
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 80%;
        margin-left: 10%;
        

        .Card {
            display: flex;
            justify-content: space-evenly;
        }
    }
}


//MOBILE 


@media (max-width: 767px) {

    .HomeHero{
        display: flex;
        flex-direction: column;
        background: $peach url('../../assets/home/desktop/bg-pattern-hero-home.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        height: 100vh;
        width: 100%;
        margin-left: 0%;
        border-radius: 0;
        text-align: center;

        .HeroImage{
            img {
                position: relative;
                width: 100%;
                right: auto
            }
        }
    
        .HeroText {
            width: 95%;
            margin-left: 2.5%;
            margin-top: 0%;
            text-align: center;
            color: $white;
    
            h1 {
                width: 100%;
                font-size: 2rem;
                line-height: normal;
            }
    
            p {
                width: 100%;
                font-size: 20px;
                margin-bottom: 5%;
            }
        }
    }

    .ProductTiles{
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 2%;
        

        .ProductTile{
            width: 95%;
            margin-left: 2.5%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }


    .CardSection {
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 80%;
        margin-left: 10%;
        
    }
}