.App {
  text-align: center;
  padding: 3% 10%;
}



// Tablet 

@media (min-width: 768px) and (max-width: 1024px) {
  .App {
    text-align: center;
    padding: 0%;
  }
  
}


//MOBILE 


@media (max-width: 767px) {

  .App {
    text-align: center;
    padding: 0%;
  }
}